<div>
        <h1 style="text-align:center">Alarm Settings Component</h1>
        <!-- {{settingsData | json}} -->
        <h3 class="card-row">Animasyon Hızı : </h3>
        <select name="" id="">
            <option *ngFor="let s of settingsData.speedSettings" [value]="s.id">{{s.name}}</option>
        </select>
        
        <h3 class="card-row">Alarmlar : </h3>
        <select name="" id="">
            <option *ngFor="let s of settingsData.alarmList" [value]="s.id">{{s.name}}</option>
        </select>
   </div>
  


<!-- <p *ngFor="let elements of settingsData">{{elements[0].name}}</p>

<p *ngFor="let elements of settingsData">{{elements[1].name}}</p> -->
<!-- interpolasyon -->